name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
         # 
         # Checkout the repository content
         # 
         - name: Checkout
           uses: actions/checkout@v2
           with:
             # Disabling shallow clone 
             fetch-depth: 0
         # 
         # Setup Java JDK
         # 
         - name: Setup JDK
           uses: actions/setup-java@v1
           with:
             java-version: '11'
         # 
         # Setup Node.js (for Sonar)
         # 
         - name: Setup Node.js
           uses: actions/setup-node@v2    
           with:
             node-version: '12'
         # 
         # Run the Sonar scan
         # 
         - name: SonarCloud Scan
           uses: sonarsource/sonarcloud-github-action@unset-java-home
           env:
             GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
             SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
         # 
         # Print out the artifacts list
         # 
         - name: Print artifacts
           run: ls -R ./dist
